<!--<h2>{{this.ans}}</h2>-->

<calvin-community-profile>
</calvin-community-profile>
<!--<calvin-community-tools-widget>
</calvin-community-tools-widget>
<calvin-community-members-widget>
</calvin-community-members-widget>
<calvin-activity-page></calvin-activity-page>-->
<div fxLayout="row" fxLayoutGap="">
    <div  fxLayout="column">
  <calvin-community-tools-widget></calvin-community-tools-widget>
  <calvin-community-members-widget></calvin-community-members-widget>
    </div>
  <calvin-activity-page fxFlex="75%"></calvin-activity-page>
</div>


<router-outlet></router-outlet>