
<calvin-community-profile [profile]="this.community"  >
   <div class="manage-community-info" *ngIf="this.CommunitiesInfo.role === 'Admin' || 'owner'" >
    <button md-icon-button [mdMenuTriggerFor]="menu" class="setting">
    <md-icon>settings</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button routerLink="/app/managecommunity/{{this.domain}}" md-menu-item>
      <md-icon>dialpad</md-icon>
      <span>Manage Community</span>
    </button>
  </md-menu>
   </div>
</calvin-community-profile>
<div fxLayout="row" fxLayoutGap="%" fxFlex="100%">
  <div fxLayout="column" fxFlex="30%">
    <calvin-community-tools-widget [community]="this.domain"></calvin-community-tools-widget>
  </div>
  <div fxFlex="40%" class="mdcard">
    <calvin-activity-page></calvin-activity-page>
  </div>
  <div fxFlex="30%">
    <calvin-community-members-widget [community]="this.domain"></calvin-community-members-widget>
  </div>
</div>

<router-outlet></router-outlet>



<div class="activity-board item item-3" fxLayout="rows">
 <div *ngIf="tools" fxFlex="100%"   fxLayoutWrap >
     <div class="list-activities" fxFlex="31%" *ngFor="let sample of tools" fx-flex-fill >
       <calvin-activity-card  [activity]="sample"></calvin-activity-card>
     </div>
 </div>
</div>