.try{
margin-top: 1%;
}
/*.manage-community{
margin-top:3%;*/


    /*.try1{
        margin-top: 30%;
    }*/

    .visibilityDesc {
   color: gray ;
   font-style: inherit;
   font-family: Roboto,"Helvetica Neue",sans-serif;
}