
.img-placing
{
border-radius: 50%;
margin-left: 10%;
}
.fixprofile{
    margin-left: -30%;
}
md-card-img{
    margin-left: 1%;
    margin-right: 100%;
}
/*google signin button style  */

.fixEventButton{
     margin-left: -20%; 
    margin-top: 20px;
}

#customBtn {
      display: inline-block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
    }
#customBtn:hover {
      cursor: pointer;
    }
span.label {
      font-family: serif;
      font-weight: normal;
    }
span.googleicon {
      background: url('../../assets/img/search.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
span.discourseicon {
      background: url('../../assets/img/discourse .png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
span.githubicon {
        background: url('../../assets/img/github.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }
.alignToolBtn {
 margin-top: 20px;
    /* padding: 11px; */
}
.integrateToolbtn {
    margin-right: 420px;
}
