
.placing
{
    margin:5% 0% 5% 5%;
}
.form-div
{
 margin:5% 0% 5% 10%;
}
.list-div
{
    margin:5% 0% 5% 0%; 
}
.bg-img
{
    /*background-image: url("gradient_bg.png");*/
    background-repeat: repeat-x;
    background-repeat: repeat;
}
.img-div
{
    background-color:blue;
    height:10%;
}
.chip-div
{
    padding-top:30%;
}