
.img-placing
{
border-radius: 50%;
margin-left: 2%;
/*background-color:black;*/
/*filter:brightness(80%);*/
/*padding: 4px;*/
}
.material-icons{
margin-top: 100px;
}
.fixprofile{
    margin-left: 5%;
    margin-top: 5%;
}
.Head{
    margin-top:-2%;
}