<!--<div fxLayout fxLayout.xs="" fxFlex="80" fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="40%" fxLayout="row"> </div>-->
  <!--<div fxFlex="100%" fxLayout="row" fxLayoutAlign=" start">-->
<md-card>
  <md-card-content>
  <form #tool="ngForm" class="form" (ngSubmit)="onSubmit(values)">
    <h3>Tool Info</h3>
    <div *ngFor="let val of allTool" fxLayout="row" >
      <!--<label>{{val.toolid}}</label>-->
      <div fxFlex="30%" fxLayoutAlign="">
        <!--<img src="{{val.toolavatar}}">-->
        <md-list>
          <md-list-item>
        <img  md-list-avatar src="{{val.toolavatar}}" class="img" style="height:200px;width:300px">
          </md-list-item>
        </md-list>
       
      </div>
      <div fxFlex="50%">
        <md-input-container fxLayoutAlign="start">
          <input mdInput placeholder="" disabled value={{val.toolid}} disabled>
        </md-input-container>
        <md-input-container fxLayoutAlign="start">
          <input mdInput placeholder="" disabled value={{val.purpose}} disabled>
        </md-input-container>

        <md-input-container fxLayoutAlign="start">
          <input mdInput placeholder="" disabled value={{val.tooldesc}} disabled>
        </md-input-container>
      </div>
    </div>
    <hr>
    <h3>Tool Action</h3>
    <hr>
    <div *ngFor="let val of toolActions"  fxLayout.md="column" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="40px" fxLayoutAlign="center">
      <!--<div fxLayout.xs="row">
          <md-input-container class="example-full-width">
            <input name="" mdInput placeholder="" disabled value={{val.toolid}}>
          </md-input-container>
        </div>-->
        <div fxLayout.xs="row">
          <md-input-container class="example-full-width">
            <input name="" mdInput placeholder="" disabled value={{val.grantactions}}>
          </md-input-container>
        </div>
        <div fxLayout.xs="row">
          <md-input-container class="example-full-width">
            <input name="" mdInput placeholder="" disabled value={{val.name}}>
          </md-input-container>
        </div>
        <div fxLayout.xs="row">
          <md-input-container class="example-full-width">
            <input name="" mdInput placeholder="" disabled value={{val.description}}>
          </md-input-container>
        </div>
      
      <!--<div fxFlex="25%">
      <label>{{val.toolid}}</label>
      </div>
      <div fxFlex="25%">
      <label>{{val.grantactions}}</label>
      </div>
      <div fxFlex="25%">
      <label>{{val.name}}</label>
      </div>
      <div fxFlex="25%">
      <label>{{val.description}}</label>
      </div>-->

    
    </div>
    <hr>
    <h3>subscribe to events</h3>
    <hr>
    <div fxFlex="100%" fxLayout="column" fxLayoutGap="" >
      <div fxFlex="50%" fxLayoutAlign="center"  fxLayout="row" *ngFor="let event of toolEvents">
      <md-checkbox  class="example-margin" [checked]="false">{{event.name}}
      <p fxLayout="column">{{event.description}}</p></md-checkbox>
        <div fxLayout="row" fxFlex="50%" fxLayoutAlign="center">
    <md-select placeholder="" [(ngModel)]="selectedValue" name="food">
    <md-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </md-option>
  </md-select>
    </div>
      </div>
      <!--<div fxLayout="row" fxFlex="50%">
    <md-select placeholder="" [(ngModel)]="selectedValue" name="food">
    <md-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </md-option>
  </md-select>
    </div>-->
      
    </div>
    <div fxFlex="80" fxLayoutAlign="end">
  <button md-raised-button color="primary" class="bottom-button">submit</button>
</div>
  </form>
  </md-card-content>
</md-card>
  <!--</div>-->
<!--</div>-->

