<div fxLayout fxLayoutAlign="center">

  <div class="item" fxLayout.xs="row" fxFlex="100%" class="flex">
    <md-toolbar color="primary">
      <md-toolbar-row>
        <span style="margin-top:-80px;">
    <md-list>
   <md-list-item >
   <img md-list-avatar  src="assets/img/pic3.png" alt="User">
      </md-list-item>
      </md-list>
     </span>
        <span style="margin-top:-90px">
      <md-list><md-list-item> <input placeholder="Community name"><i class="material-icons">create</i></md-list-item>
      <md-list-item>
   <label style="margin-top:-30px;">Owner</label>
  <label style="margin:0px 0px 0px -50px" >Created time</label>
      </md-list-item></md-list></span>
        <md-icon class="example-icon">favorite</md-icon>
        <md-icon class="example-icon">delete</md-icon>
      </md-toolbar-row>
    </md-toolbar>
  </div>

</div>