<calvin-community-navbar></calvin-community-navbar>

<div  fxLayout  fxLayoutAlign="start">
  <div fxFlex="30%">
   <!--<label fxLayoutAlign="center"><h3>Tools</h3></label>-->
    <md-card>
     
  <md-card-header style="background-color:aquamarine">
    <p>Members</p> 
    <p></p>
    
  </md-card-header>
  <button md-mini-fab routerLink="."  style="margin-left:80%;margin-top:-20px"><md-icon>add</md-icon></button>
  <md-card-content  style="margin-top:20px" fxLayoutAlign.xs="column">
    <div fxFlex="50%">
      <md-list>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic1.jpg" alt="User">
          <md-list-item>
       <i class="material-icons" style="color:red;margin:30px 0px 0px -30px">grade</i>
       </md-list-item >
       <span></span>
     </md-list-item>
     
         <md-list-item >
          <img md-list-avatar src="assets/img/pic2.jpg" alt="User">
     </md-list-item>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic3.jpg" alt="User">
     </md-list-item>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic4.jpg" alt="User">
     </md-list-item>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic5.jpg" alt="User">
     </md-list-item>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic8.jpg" alt="User">
     </md-list-item>
        
      </md-list>
    </div>
    <!--<div fxFlex="25%">-->
      <!--<md-list>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic4.jpg" alt="User">
     </md-list-item>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic5.jpg" alt="User">
     </md-list-item>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic8.jpg" alt="User">
     </md-list-item>
        
      </md-list>-->
    <!--</div>-->
    <div fxFlex="50%">
        <md-list>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic9.jpg" alt="User">
     </md-list-item>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic2.jpg" alt="User">
     </md-list-item>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic3.jpg" alt="User">
     </md-list-item>
        
      </md-list>
     
    <!--</div>
    <div fxFlex="25%">-->
        <md-list>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic9.jpg" alt="User">
     </md-list-item>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic2.jpg" alt="User">
     </md-list-item>
     <md-list-item >
          <img md-list-avatar src="assets/img/pic3.jpg" alt="User">
     </md-list-item>
        
      </md-list>
     
    </div>
  </md-card-content>
