<div>
  <md-card-title class="cardTitle"><h4>Template</h4></md-card-title>
  <div class="content"  >
    <md-card-content >
     <md-list >
       <span><md-list-item>Name:hellooooooooooooooo</md-list-item></span>
       <span><md-list-item>Description:hiiiiiiiiiiiiiiiiiiii</md-list-item></span>
      <span><md-list-item >Tools:github,stackoverflow </md-list-item>
      <md-list-item>
        <ul><li>hello</li></ul>
          </md-list-item></span>  
      <span> <md-list-item >Role:admin, moderatee</md-list-item></span>      
      </md-list>
    </md-card-content>
  </div>
</div>
