/*************************************

888888888888
888888888888
88888
888
88888
888888888888
888888888888


**************************************/


.mat-button-focus-overlay, .mat-button-ripple {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
md-toolbar.mat-toolbar {
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 0 16px 0 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.hamburger.mat-button {
  height: 100%;
  margin: 0;
  padding: 0;
}
.logoAlgin {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  text-transform: uppercase;
  padding: 21px 0;
  text-decoration: none;
}
.logoAlgin img {
  width: 40px
}
.searchAlgin {
  position: relative;
  color: #fff;
}
.searchAlgin input {
  min-height: 30px;
  border: none;
  border-radius: 2px;
  padding: 4px 10px;
  color: #999;
}
.searchBtn {
  position: absolute;
  right: 3px;
  top:7px;
  color: #666;
  cursor: pointer;
}
