
<div class="app-bar" fxLayout fxLayout.md="row">

</div>

<!--<md-sidenav-container fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item href="page1.html">Page 1</a>
      <a md-list-item href="page2.html">Page 2</a>
      <a md-list-item href="page3.html">Page 3</a>
    </md-nav-list>
    <button md-button (click)="start.close()">Close</button>
  </md-sidenav>
</md-sidenav-container>-->




<md-sidenav-container fullscreen>
    <md-sidenav #start>
        <md-nav-list>
            <a md-list-item routerLink="/dashboard">Dashboard</a>
            <a md-list-item routerLink="/heroes">Create Community</a>
             <a md-list-item routerLink="/heroes">Manage Community</a>
              <a md-list-item routerLink="/heroes">Role Management</a>
        </md-nav-list>
        <hr>
        <button md-button (click)="start.close()">CLOSE</button>
    </md-sidenav>
        <!--<button md-icon-button (click)="start.open()">
            <md-icon>menu</md-icon>
        </button> -->
        <md-toolbar class="app-bar" fxFlex.md="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.lg="100%">
            <div fxFlex="3%" fxLayout="row">
              
                <button md-icon-button (click)="start.open()">
                    <md-icon>menu</md-icon>
                </button>
                <!--<button md-icon-button (click)="start.open()">
            <md-icon>menu</md-icon>
        </button> -->
            </div>
            <div fxFlex="22%" fxLayout="row">
                <a href="/">
                    <img src="../assets/img/logo1.png" alt="logo" />
                </a></div>
                    <!--<img src='/assets/image/logo1.png' md-tooltip="homepage"
          tooltip-position="below"></a></div>-->

                    <div fxFlex="40%" fxLayout="row" class="box-color">
                        <!--<input mdInput aria-label="search" fxFlex="100%" placeholder="Search" type="search" fxLayout="column" class="box-color">-->
                        <input type="search" class="search" placeholder="Search..." />
                        <i class="material-icons searchBtn">search</i>
                    </div>
                    <div fxFlex="27%" fxFlex.md="80%" fxFlex.sm="100%" fxLayout="row" class="searchAlgin" fxLayoutAlign="end">
                        notifications
                        <i class="material-icons">notifications_active</i>
                    </div>

                    <div fxFlex="8%" fxLayout="row" class="searchAlgin" fxLayoutAlign="end">
                        <md-list>
                            <md-list-item>
                                <img md-list-avatar src="../assets/img/pic3.png" alt="User">
                                <i class="material-icons" [md-menu-trigger-for]="menu">keyboard_arrow_down</i>
                            </md-list-item>
                        </md-list>

                    </div>

                    <md-menu xPosition="before" [overlapTrigger]="false" #menu="mdMenu">

                        <button md-menu-item routerLink="/app/profile">Profile<i class="material-icons">account_box</i>
                        </button>

                        <button md-menu-item (click)="logout()">Logout<i class="material-icons">arrow_forward</i>
                        </button>

                        <md-menu xPosition="before" [overlapTrigger]="false" #menu1="mdMenu">

                            <button md-menu-item routerLink="/profile">My communities</button>

                            <button md-menu-item (click)="logout()">New communities</button>
                            <button md-menu-item (click)="logout()">User Profile</button>
                        </md-menu>
                    </md-menu>
            
        </md-toolbar>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
</md-sidenav-container>

