<!-- Side nav -->
<md-sidenav-container fullscreen>
  <md-sidenav #start>
    <md-nav-list>
      <div class="container1" *ngIf="flag===1">
        <img src={{maximizepic(user.avatar)}}>
        <div> <button md-icon-button class="bottomright" (click)="start.close()" align="end">
               <i class="material-icons">close</i></button>
        </div>
      </div>
      <a md-list-item routerLink="/app/">Home</a>
      <a md-list-item routerLink="/app/createCommunity">New Community</a>
      <a md-list-item routerLink="/app/toolmarket">Tool Marketplace</a>
      <a md-list-item routerLink="/app/addtool">Register Tool</a>
    </md-nav-list>
    <hr>
  </md-sidenav>
  <div class="header">
    <md-toolbar class="mat-primary" color="primary" role="toolbar">
      <button class="hamburger mat-button" md-button="" (click)="start.open()" title="Docs menu">
  <span class="mat-button-wrapper">
   <md-icon>menu</md-icon>
  </span>
  <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
  <div class="mat-button-focus-overlay"></div>
</button>
      <div fxFlex="20%" fxLayout="row">
        <a class="nav-link logoAlgin" href="/">
        <strong>CALVIN</strong>      
    </a>
      </div>
      <div fxFlex="40%" fxLayout="row" class="searchAlgin">
        <input mdInput aria-label="search" fxFlex="100%" placeholder="Search" type="search" fxLayout="column" dividerColor="accent">
        <i class="material-icons searchBtn" fxLayout="column">search</i>
      </div>

      <div fxFlex="40%" fxLayout="row" class="searchAlgin" *ngIf="flag===1" fxLayoutAlign="end center">
        <md-chip-list>
          <md-chip md-button (click)="openDialog()" selected="true">
            <i class="material-icons">notifications_active</i>
          </md-chip>
        </md-chip-list>

        <md-list>
          <md-list-item>
            <img md-list-avatar [md-menu-trigger-for]="menu" src={{user.avatar}} alt="User">
          </md-list-item>
        </md-list>
      </div>
      <md-menu xPosition="before" [overlapTrigger]="false" #menu="mdMenu">
        <button md-menu-item routerLink="/app/profile">Profile</button>
        <button md-menu-item (click)="logout()">Logout</button>
      </md-menu>
    </md-toolbar>
  </div>
  <router-outlet></router-outlet>

</md-sidenav-container>