<md-toolbar class="app-toolbar mat-primary mat-toolbar" color="primary" role="toolbar">
 
<button fxFlex="5%" class="hamburger mat-button" md-button="" title="Docs menu" (click)="sidenav.toggle()">
  <span class="mat-button-wrapper">
    <md-icon class="md-24" >menu</md-icon>
  </span>
</button>

  <div fxFlex="15%" fxLayout="row" fxLayoutAlign="center center"  >
    <a class="nav-link logoAlgin" href="/">
       <img md-list-avatar src="/assets/img/logo/logo-landing.png" alt="logo" />
       Calvin
    </a>
  </div>

  <div fxFlex="60%" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="60%" fxLayout="row" class="searchAlgin" fxLayoutAlign="center center">
      <input mdInput aria-label="search" fxFlex="100%" fxLayout="row" placeholder="Search Community" type="search" />
      <i class="material-icons searchBtn"  fxLayout="column">search</i>
    </div>
  </div>

  <div fxFlex="20%" fxLayout="row"  fxLayoutAlign="end">
    <md-list>
      <md-list-item >
        <img md-list-avatar [md-menu-trigger-for]="menu" src="http://lorempixel.com/100/100/" alt="User">
      </md-list-item>
    </md-list>
  </div>
  <md-menu xPosition="before" [overlapTrigger]="false"  #menu="mdMenu">

    <button md-menu-item routerLink="/app/profile">Profile</button>

    <button md-menu-item (click)="logout()">Logout</button>

  </md-menu>

</md-toolbar>
<router-outlet></router-outlet>
