<!--<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="2%"></div>
    <div class="item item-2" fxFlex="2%" fxFlexOrder="3">    </div>-->
<div class="container">

<md-card fxFlex="100%">
    <md-card-title fxLayout="row" class="new-community">
        Members<div class="searchAlgin"> <input mdInput aria-label="search" fxFlex="100%" placeholder="Search" type="search"  dividerColor="accent">
   <i class="material-icons ">search</i></div>    </md-card-title>
    
    <div class="community-list" *ngFor="let val of this.members.MemberDetails" >
        <h1></h1>
      <md-list align="start" >
        <md-list-item>
                <div>{{val.username}}</div>
                <div>-{{val.role}}</div>
                <div class="button-style"><button md-button class='button-style' (click)='edit()'><md-icon>edit</md-icon></button></div>
        </md-list-item>        
      </md-list>
    </div>
</md-card>
<div><button  md-raised-button color="primary"  (click)='openDialog()' class="bottom-button">Invite</button></div>
</div><router-outlet></router-outlet>