<h1> Integrate Tool  </h1>
<div *ngIf="integrationFlag===0 && adminCommunities.length!=0">
<md-radio-group class="example-radio-group" [(ngModel)]="domain">
  <md-radio-button class="example-radio-button" *ngFor="let object of this.adminCommunities"    [value]="object.domain" >
<img md-card-avatar src={{(object.avatar)}}>
    {{object.domain}}
  </md-radio-button>
</md-radio-group>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px" fxLayoutAlign="end end">
          <!-- Cancel Button-->
          <button md-raised-button [md-dialog-close]="true">Cancel</button>
          <!-- Submit button to Add the tool-->
          <button md-raised-button color="primary" (click)="integrateToolToCmmunity(domain)" [md-dialog-close]="true"  >Submit</button>
        </div>
</div>     
<div *ngIf="integrationFlag===1 ">
    <h3> Tool Integrated With Commities </h3>
     <button md-raised-button color="primary" [md-dialog-close]="true">Close</button>
</div>
<div *ngIf="adminCommunities.length===0"> 
	     <p> Hi.. It seems you are not a member of Any Group .. please create a community to Intergatre a tool </p>
		  <button md-raised-button color="primary" (click)="navigateToCC()" [md-dialog-close]="true">Create Community</button> 
</div>