
<div class="container" fxLayout fxLayout.xs="row" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
	<!--<div class="item item-1" fxFlex="2%"></div>
	<div class="item item-2" fxFlex="2%" fxFlexOrder="3"></div>-->
	<div class="item item-3" fxFlex class="form-div"  *ngIf="flag===1">
     <md-card fxFlex fxLayout="column">
		 <div fxFlex="100%" fxLayout="row">
		 <div fxFlex="25%">
       <img md-card-image  fxLayoutAlign="start" class="img-placing" src={{(toolinfo.toolavatar)}} alt="User">
	   
		 </div>
     <div class="item item-3" fxFlex="50%" class="form-div" *ngIf="flag===1">
       <ul> 
		     <h3><li align="start">{{toolinfo.toolname}} </li></h3>
			 <h4><li align="start"> {{toolinfo.toolid}}  </li></h4>
			 <h4><li align="start"> {{toolinfo.purpose}} </li></h4>
			<h5> <li align="start"> {{toolinfo.tooldesc}} </li></h5>
       </ul>
       
 </div>
		 </div>
 <hr>
      <h3 fxLayoutAlign="start">Tool Action</h3>
      <hr>
      <div *ngFor="let val of toolActions" fxFlex="80%" fxLayout.md="column" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="40px"
        fxLayoutAlign="center">
        <!--<div fxLayout.xs="row">
          <md-input-container class="example-full-width">
            <input name="" mdInput placeholder="" disabled value={{val.toolid}}>
          </md-input-container>
        </div>-->
        <div fxLayout.xs="row">
          <md-input-container class="example-full-width">
            <input name="" mdInput placeholder="" disabled value={{val.grantactions}}>
          </md-input-container>
        </div>
        <div fxLayout.xs="row">
          <md-input-container class="example-full-width">
            <input name="" mdInput placeholder="" disabled value={{val.name}}>
          </md-input-container>
        </div>
        <div fxLayout.xs="row">
          <md-input-container class="example-full-width">
            <input name="" mdInput placeholder="" disabled value={{val.description}}>
          </md-input-container>
        </div>

        <div fxFlex="10%">

        </div>
        <div fxFlex="10%">

        </div>

      </div>
    <div fxLayout="row" fxFlex="" fxLayoutAlign="center" fxLayoutGap="15px" fxLayoutAlign="end end">
           <!--Cancel Button-->
          <a md-raised-button routerLink="/app/home">Cancel</a>
          <!-- Submit button to Add the tool-->
          <button md-raised-button color="primary" (click)="integrateTool()">Integrate</button>
        </div>
     </md-card>
	</div>
	
 </div>



<router-outlet></router-outlet>