<div fxLayout='column' md-dialog-content *ngIf='dummy'>
    <div *ngFor='let value of dummy'>
           <md-input-container fxLayoutAlign='start stretch'>
                <input mdInput placeholder={{value.role}}/>
            </md-input-container>
        
        <md-checkbox  *ngFor='let actions of value.actions' fxFlexLayout.xs='row'>{{actions}}</md-checkbox>
    </div>
</div>



<div md-dialog-actions fxLayoutAlign='end'>
    <button md-button md-dialog-close>Cancel</button>
    <button md-raised-button md-dialog-close color="primary">Apply</button>

</div>