<div fxLayout="column" md-dialog-content *ngIf="sample">
    <div *ngFor="let core of sample">
        <md-input-container fxLayoutAlign="start stretch">
                <input mdInput #inputVal placeholder="Role Name:" value={{roleName}}/>
            </md-input-container>
        <div *ngFor="let value of core.tools">
            <md-input-container fxLayoutAlign="start stretch">
                <input mdInput placeholder="" value={{value.toolid}}/>
            </md-input-container>
            <!--<md-checkbox *ngFor="let value of value.actions"  (change)="getCheckoxValue(value, checked)" fxFlexLayout.xs="row">{{value}}</md-checkbox>-->
            <md-checkbox *ngFor="let key of value.actions"  (checked)="exists(value.toolid,key)" (click)="getCheckboxValue(value.toolid,key,inputVal.value)" fxFlexLayout.xs="row">{{key}}</md-checkbox>
            <!--<md-checkbox *ngFor="let value of value.actions" [checked]="exists(value.toolId,value)" (click)="getCheckoxValue(value.toolId,value)" fxFlexLayout.xs="row">{{value}}</md-checkbox>-->
        </div>
    </div>
</div>

<div md-dialog-actions fxLayoutAlign="end">
    <button md-button md-dialog-close>Cancel</button>
    <button md-raised-button md-dialog-close color="primary" (click)="update(roleName)">Apply</button>
</div>