.menu-icon
{
    font-size: 200%;
}
.mat-select-arrow {
   
    border-left: 5px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid;
    border-left:8px solid transparent;
    margin: 40px 4px 5px 0px;
    font-size: 80%;
}
