<!--<p>
  appbar works!
</p>-->
  <md-toolbar >
    <div fxFlex="3%" fxLayout="row" >
  
<i class="material-icons menu-icon" [md-menu-trigger-for]="menu1">list</i></div>
   <div fxFlex="22%" fxLayout="row"  >
  <a href="https://calvin.edu/about/"><img src="../assets/img/logo1.png" md-tooltip="homepage"
          tooltip-position="below"></a></div>
 
  <div fxFlex="40%" fxLayout="row" class="searchAlgin" >
    <input mdInput aria-label="search" fxFlex="100%" placeholder="Search" type="search" fxLayout="column" dividerColor="accent">
    <i class="material-icons searchBtn"  fxLayout="column">search</i>
  </div>
  <div  fxFlex="27%" fxLayout="row" class="searchAlgin"  fxLayoutAlign="end" >
  notifications
  <i class="material-icons">notifications_active</i>
</div>

 <div fxFlex="8%" fxLayout="row"  class="searchAlgin" fxLayoutAlign="end" >
    <md-list>
      <md-list-item > 
        <img md-list-avatar  src="assets/img/pic3.png" alt="User">
      </md-list-item>
    </md-list>
      <span class="mat-select-arrow" [md-menu-trigger-for]="menu"></span>
  </div>
 



  <md-menu xPosition="before" [overlapTrigger]="false"  #menu="mdMenu">

   <button md-menu-item routerLink="/profile">Profile</button>

   <button md-menu-item (click)="logout()">Logout</button>

     <md-menu xPosition="before" [overlapTrigger]="false"  #menu1="mdMenu">

   <button md-menu-item routerLink="/profile">My communities</button>

   <button md-menu-item (click)="logout()">New communities</button>
     <button md-menu-item (click)="logout()">User Profile</button>

<!--  
<calvin-user-dashboard></calvin-user-dashboard>-->