<div class="inviteMembers">
  <h3 algin="center">Invite Members to Community</h3>
 <p> {{this.username}}</p>
  <form #memberinvite="ngForm" (ngSubmit)="onSendingInvitation(memberinvite)">
    <input type="hidden"  name="index" ngModel="0" >
    <md-input-container name="email" required fxFlex="45%"  (keyup.enter)="newTodo=''" class="textfield" name="newTodo">
      <input mdInput ngModel name="email0" placeholder="E-mail Address">
    </md-input-container>
    <md-select ngModel fxFlex="45%"   name="role0" placeholder="Role" (keyup.enter)="newTodo=''" class="textfield">
      <md-option *ngFor="let access of getResults" [value]="access.role">{{access.role}} </md-option>
    </md-select>
    <button md-icon-button fxFlex="10%"   (click)="addTodo($event)" class="bottomright" align="end">
      <i class="material-icons">add_circle_outline</i>
    </button>
    <div *ngFor="let member of inviteMembers; let i=index" >
      <input type="hidden"  name="index" ngModel="{{i+1}}" >
      <md-input-container name="email" required (keyup.enter)="newTodo=''" class="textfield" name="newTodo">
        <input mdInput ngModel name="email{{i+1}}" placeholder="E-mail Address">
      </md-input-container>
      <md-select ngModel name="role{{i+1}}" placeholder="Role" (keyup.enter)="newTodo=''" class="textfield">
        <md-option *ngFor="let access of getResults" [value]="access.role">{{access.role}} </md-option>
      </md-select>
      <button md-icon-button class="bottomright" align="end">
        <i class="material-icons" md-icon-button (click)="deleteTodo(i)">close</i>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="end end">
      <button md-raised-button md-dialog-close  class="bottom-button">Cancel</button>
      <button md-raised-button color="primary" class="bottom-button" type="submit">Invite</button>
    </div>
  </form>
  <!--form ends here-->
</div>