
 <div class="AddValue">
      <h3>Invite members</h3>
      <div>
      <form (submit)="addField($event)">
         <md-input-container (keyup.enter)="value=''" class="textfield" name="value">
                <input mdInput placeholder="email address">
                </md-input-container>
                    
                     <md-select placeholder="roles" (keyup.enter)="value=''" class="textfield" name="value" >
                <md-option *ngFor="let access of memberrole" [value]="access.value">{{access.value}}  </md-option>
                                
              </md-select>
      
                 <button md-icon-button type="submit" class="bottomright"   align="end">
                  <i class="material-icons">add_circle_outline</i></button>
      </form>
      </div>
     <div>
      <div *ngFor="let todo of AddValue; let i=index">
      
    
    
      <form>
         <md-input-container  (keyup.enter)="value=''" class="textfield" name="value">
                <input mdInput placeholder="email address">
                </md-input-container>
        <md-select placeholder="roles" (keyup.enter)="value=''" class="textfield" name="value" >
        <md-option *ngFor="let access of memberrole" [value]="access.value">{{access.value}}  </md-option>                  
       </md-select>
        
    <button md-icon-button  class="bottomright"  align="end">
                  <i class="material-icons" md-icon-button (click)="deleteTodo(i)">close</i></button>
  
     </form>
      
       </div>
        </div>
          <div>
                 <button md-raised-button color="primary" class="bottom-button" >Invite</button>
              </div>
      
 </div>