    .manage-community-info{

        margin-left: 58%;
        }

        .community-profile{
margin-top:0%;
        }        

        .sample{

            background-color:#E8EAF6    ;
        }

       .community-image img{

           width:400%;
           height:120%;
           margin-top: 40%;
           margin-left:280%;
       }
.tags{

    margin-top: 10%;
    margin-left:80%;
}
.community-details-name{

     margin-left:22%;
    margin-top:10%;
}
.community-details{
 margin-left:12%;

}

.try1{

margin-left:38%;
}


@media(max-width:760px){
    .community-details-name 
    {
        font-size: 20px;
    }
}
@media(max-width:460px){
   .community-details-name
    {
        font-size: 10px;
    }
}




@media(max-width:760px){
    #heading 
    {
        font-size: 40px;
    }
}
@media(max-width:460px){
   #heading
    {
        font-size: 20px;
    }
}

@media(max-width:760px){
    .community-image img
    {
        width: 150%;
        height:80%
    }
}
@media(max-width:460px){
   .community-image img
    {
        width:50%;
        height:40%;
    }
}


@media(max-width:760px){
    .community-details
    {
        font-size: 10px;
    }
}
@media(max-width:460px){
   .community-details
    {
        font-size: 10px;
    }
}
