    .manage-community-info{

        margin-left: 30%;
        }

        .community-profile{
margin-top:0%;
        }        

        .sample{

            background-color:#E8EAF6    ;
        }

       .community-image img{

           width:30%;
           height:130%;
           margin-top: 10%;
           margin-left:2%;
       }
.tags{

    margin-top: 20%;
    margin-right:80%;
}
.community-details-name{

     margin-right:60%;
    margin-top:10%;
}
.community-details{
 margin-right:60%;

}