    .manage-community-info{

        margin-left: 58%;
        }

        .community-profile{
margin-top:0%;
        }        

     
       .community-image img{

           width:38%;
           height:180%;
           margin-top: 25%;
           margin-left:12%;
             box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
       }
.tags{

    margin-top: 10%;
    margin-left:80%;
}
.community-details-name h3{

     margin-right: 100px;
     margin-top:23%;
     

    
}
.community-details {
 margin-right: 28%;
 color: grey;
}

.members{

margin-left:46%;
font-style: italic;
}

.tools{
font-style: italic;
    }
.tagclass {
    margin-top: 30px;
}
/*
@media(max-width:760px){
    .community-details-name 
    {
        font-size: 20px;
    }
}
@media(max-width:460px){
   .community-details-name
    {
        font-size: 10px;
    }
}




@media(max-width:760px){
    #heading 
    {
        font-size: 40px;
    }
}
@media(max-width:460px){
   #heading
    {
        font-size: 20px;
    }
}

@media(max-width:760px){
    .community-image img
    {
        width: 150%;
        height:80%
    }
}
@media(max-width:460px){
   .community-image img
    {
        width:50%;
        height:40%;
    }
}


@media(max-width:760px){
    .community-details
    {
        font-size: 10px;
    }
}
@media(max-width:460px){
   .community-details
    {
        font-size: 10px;
    }
}

#heading{

    font-family: 'Open Sans', sans-serif;
}*/



/*
h1 {
    font-size: 1rem;
}*/

/*@media (min-width: 400px) {
    h1 {
        font-size: 1.3rem;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 1.9rem;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 2.2rem;
    }
}*/

#sample{


        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-color:#fafbfc;

}
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.community-description{

    font-style: italic;
    color:grey;
}
md-icon{
    color: grey;

}
#purpose{

    color: grey;
    margin-left:12%;
}

#chip{
   margin-top: 5%;


}
@media(max-width:760px) {
    .community-image img
    {
        width:38%;
           height:180%;
           margin-top: 20%;
           margin-left:12%;
             box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    }
}
@media (max-width:1064px) and (min-width:810px) {
   .community-image img
    {
           width:38%;
           height:180%;
           margin-top: 40%;
           margin-left:12%;
             box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width:1024px) and (min-width:760px) {
   .community-image img
    {
        width:38%;
           height:180%;
           margin-top: 30%;
           margin-left:12%;
             box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    }
}

@media(max-width:760px) {
   .community-details-name h3{
 margin-right: 100px;
     margin-top:30%;  
}
}
@media(max-width:860px) and (min-width:800px) {
   .community-details-name h3{

     margin-right: 100px;
     margin-top:30%;    
   }
    
}

@media(max-width:800px) and (min-width:700px) {
   .community-details-name h3{

      margin-right: 100px;
     margin-top:30%;     
   }
    
}

@media(max-width:700px) and (min-width:600px) {
   .community-details-name h3{

     margin-right: 100px;
     margin-top:30%;;    
   }
    
}

@media (max-width:1024px) and (min-width:760px) {
 .community-details-name h3{

     margin-right: 100px;
     margin-top:30%;

        
}
}

@media (max-width:1064px) and (min-width:810px) {
 .community-details-name h3{

     margin-right: 100px;
     margin-top:30%;
        
}
}
