<div *ngIf="contents" class="sample">
  <div *ngFor="let content of contents">
    <div fxLayout fxLayout.xs="row" fxLayoutGap="0px" fxLayoutGap.xs="0" *ngIf="contents" class="content">
      <div fxFlex="20%" fxFlexAlign='start' *ngFor="let content of contents">



        <md-list fxLayoutAlign="start">
          <md-list-item class="community-image">
            <!--<md-icon (click)="openDialog()" class="community-display-pic" mdTooltip="Edit">add_a_photo</md-icon>-->
            <img md-list-avatar src={{content.avatar}}>
          </md-list-item>
        </md-list>

        <div *ngIf="contents">
          <!--<md-input-container class="community-details">

                    <input mdInput placeholder="" value={{sample.Domain}} disabled>

          </md-input-container>-->
          <h5 class="community-details-name">{{content.name}}</h5>
          <h5 class="community-details">{{content.createdon}}</h5>

          <!--<md-input-container class="community-details">

                     <input mdInput placeholder="" value={{sample.created}} disabled>

          </md-input-container>-->
        </div>

      </div>


      <div fxLayout fxLayout.xs="row" fxLayoutGap="0px" fxLayoutGap.xs="0" fxFlex="60%">

        <div fxFlex="60%" class="community-profile">
          <div>
            <h1 fxLayoutAlign="start">{{content.name}}</h1>
          </div>

          <h4 fxLayoutAlign="start">{{content.purpose}}</h4>
          <!--<md-input-container >

            <input mdInput placeholder="" value={{sample.Domain}} disabled>

          </md-input-container>-->

          <md-chip-list class="tag" *ngFor="let tags of contents">
            <div *ngFor="let tag of tags">
            <md-chip>{{ tag.tags }}</md-chip>
            </div>           
          </md-chip-list>


        </div>

      </div>

      <div class="item item-4" fxFlex="20%" fxFlexOrder="4">
        <div class="manage-community-info">
          <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>settings</md-icon>
</button>
          <md-menu #menu="mdMenu">
            <button routerLink="/app/managecommunity" md-menu-item>
              <md-icon>dialpad</md-icon>
                <span>Manage Community</span>
              </button>
            <button routerLink="/app/communityDashBoard" md-menu-item>
    <md-icon>voicemail</md-icon>
    <span>Community</span>
  </button>

          </md-menu>
        </div>


        <md-list class="try1">
          <md-list-item>
            <md-icon>person</md-icon>
            <h5>{{content.domain}}</h5>
          </md-list-item>
          <md-list-item class="try2"> 
            <md-icon>build</md-icon>
            <h5>{{content.domain}}</h5>
          </md-list-item>



        </md-list>
      </div>
    </div>
  </div>
</div>

<!--</div>  -->