    .manage-community-info{

        margin-left: 30%;
        }

        .community-profile{
margin-top:0%;
        }        

        .sample{

            background-color:#E8EAF6    ;
        }

       .community-image img{

           width:400%;
           height:120%;
           margin-top: 40%;
           margin-left:300%;
       }
.tags{

    margin-top: 10%;
    margin-right:80%;
}
.community-details-name{

     margin-right:22%;
    margin-top:10%;
}
.community-details{
 margin-right:22%;

}

.try1{

margin-left:38%;
}

.try2{

    margin-top:2%;
}