.card-align
{
    margin-left:0%;
    padding-left:0%;
}
.fix{
    margin-left: 40px;
}
/*md-icon{
margin-left:400px;
cursor: pointer;
}*/
md-card-title{
    margin-left: 40px;
}
.icon{
    cursor: pointer;
    /*margin-top: 10%;*/
}