<!--<div>
  <md-card class="card-align">
    <div class="community-list" *ngFor="let val of tools.tools">
      <h1></h1>
      <md-list align="start">
        <md-list-item>-->
<!--<img md-list-avatar src="./assets/img/tool.png">-->
<!--<md-icon>build</md-icon>
          <div fxFlex='80'>
            <div>
              <h5><b>{{val.toolid}}</b></h5>
              {{val.avatar}}
              {{val.purpose}}
              {{val.toolname}}
            </div>
          </div>
          <div><md-icon (click)="config(val.toolid)">settings</md-icon></div>  -->
<!--(click)="openBox()"routerLink="/app/toolconfig/`${val.toolid}`"-->
<!--</md-list-item>
      </md-list>
    </div>
  </md-card>
  <div fxLayoutAlign="end"><button md-raised-button color="primary" class="bottom-button" routerLink="/app/toolmarket">Add</button></div>
</div>
<div>-->


<!--<div>
  <md-card class="card-align" fxFlex="100">
    <div class="community-list" *ngFor="let val of tools.tools">
      <div class="fix">
        <md-card-header align="start">
          <img md-card-avatar src="{{val.avatar}}">
          <md-card-title><b>{{val.toolname}}</b></md-card-title>
          <md-card-title>{{val.toolid}}</md-card-title>
          <div>
            <md-icon class="icon" (click)="config(val.toolid)">settings</md-icon>
          </div>
          <md-card-title>{{val.purpose}}</md-card-title>
        </md-card-header>
      </div>
    </div>
  </md-card>
  <div fxLayoutAlign="end">
    <button md-raised-button color="primary" class="bottom-button" routerLink="/app/toolmarket">viewTools</button>
  </div>
</div>-->
<div>
 <md-card class="card-align" fxFlex="100%">
   <div class="community-list"  *ngFor="let val of tools.tools" fxFlex="80%">
     <div class="fix">
       <md-card-header align="start">
         <img md-card-avatar fxFlex="5%" src="{{val.avatar}}">
         <div fxFlex="70%">
         <md-card-title ><b>{{val.toolname}}</b></md-card-title>
         <md-card-title>{{val.toolid}}</md-card-title>        
         <md-card-title>{{val.purpose}}</md-card-title>
         </div>
         <md-icon fxFlex="5%" fxLayoutAlign="start start"  (click)="config(val.toolid)">settings</md-icon>
       </md-card-header>
     </div>
   </div>
 </md-card>
 <div fxLayoutAlign="end">
   <button md-raised-button color="primary" class="bottom-button" routerLink="/app/toolmarket">View Tools</button>
 </div>
</div>
<router-outlet></router-outlet>