<div>

  <md-card class="card-align">
    <div class="community-list" *ngFor="let val of tools.tools">
      <h1></h1>
      <md-list align="start">
        <md-list-item>
          <img md-list-avatar src="./assets/img/tool.png">
          <div fxFlex='80'>
            <div>
              <h5><b>{{val.toolid}}</b></h5>
            </div>
          </div>
          <div><md-icon (click)="config(val.toolid)">settings</md-icon></div>   <!--(click)="openBox()"routerLink="/app/toolconfig/`${val.toolid}`"-->
        </md-list-item>
      </md-list>
    </div>
  </md-card>
  <div fxLayoutAlign="center"><button md-raised-button color="primary" class="bottom-button" routerLink="/app/toolmarket">Add</button></div>
</div>
<div>
  <router-outlet></router-outlet>