<div fxLayout="column">
<md-card>
  <!--<md-card-title>Modify roles</md-card-title>-->
  <div>
  <label> Change the role for member: </label><md-select placeholder="role" (keyup.enter)="value=''" class="textfield" name="value">
      <md-option *ngFor="let access of getResults" [value]="access.role">{{access.role}} </md-option>

    </md-select>
  </div>
 
</md-card>
</div>
     
<div md-dialog-actions fxLayoutAlign="end">
    <button md-button md-dialog-close>Cancel</button>
    <button md-raised-button md-dialog-close color="primary" (click)="update()">Apply</button>
</div>