<md-card fxFlex="100%" class="usercommunitylist">
	<md-card-title fxLayout="row" class="new-community">
		Communities
	</md-card-title>
	<button md-mini-fab routerLink="/app/createCommunity" class="button"><md-icon>add</md-icon></button>			
	<div class="community-list" >

	  <md-list align="start">
			<!--<div *ngIf = "CommunitiesInfo">true</div>
			<div *ngIf = "!CommunitiesInfo">false</div>-->
	    <md-list-item *ngFor="let userCommunityItem of CommunitiesInfo" (click)="routeToCommunity(userCommunityItem.domain)" >
	      <!--<img md-list-avatar src="{{userCommunityItem.CommunityUrl}}" alt="Desc 1">-->
	      <h3 md-line>{{userCommunityItem.domain}}</h3>
	      <p md-line>
	        <span>{{userCommunityItem.role}}</span>
	      </p>
	    </md-list-item>	    
	  </md-list>
	</div>
</md-card>
