<div class="container">
  <form>
  <md-card>
  <md-input-container class="form-width">
    <input mdInput placeholder="Enter Role">
    <button md-mini-fab class="button-align"><i class="material-icons">delete</i></button>
   <button md-mini-fab class="button-align" ><i class="material-icons">mode_edit</i></button>

    
  </md-input-container>

<md-chip-list> 
  <md-chip>Action 1</md-chip>
  <md-chip>Action 2</md-chip>
  <md-chip>Action 3</md-chip>
 

<md-chip *ngIf="selectedActions">{{ selectedActions }}</md-chip>
</md-chip-list>
<button md-raised-button (click)="openDialog()">Modify Actions</button>
</md-card>
<button md-mini-fab class="button-align"><md-icon>add</md-icon></button>
  </form>
</div>
<router-outlet></router-outlet>