<div class="container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start end">

    <md-card>
      <div fxLayoutAlign="start stretch">
        <md-input-container fxFlex="80">
          <input mdInput placeholder="Enter Role" />
        </md-input-container>
        <div fxFlex="20">
          <button><i class="material-icons">delete</i></button>
          <button><i class="material-icons">edit</i></button>
        </div>
      </div>

      <md-chip-list>
        <md-chip>Action 1</md-chip>
        <md-chip>Action 2</md-chip>
        <md-chip>Action 3</md-chip>
        <md-chip>Action 4</md-chip>
        <md-chip>Action 5</md-chip>
        <md-chip>Action 6</md-chip>
        <md-chip>Action 7</md-chip>
        <!--<md-chip *ngIf="selectedActions">{{ selectedActions }}</md-chip>-->
      </md-chip-list>

      <button fxLayoutAlign="left" md-raised-button (click)="openDialog()">Modify Actions</button>


    </md-card>
  </div>
  <div fxLayout="row">

    <md-card>
      <div fxLayoutAlign="start stretch">
        <md-input-container fxFlex="80">
          <input mdInput placeholder="Enter Role" />
        </md-input-container>
        <div fxFlex="20">
          <button><i class="material-icons">delete</i></button>
          <button><i class="material-icons">edit</i></button>
        </div>
      </div>

      <md-chip-list>
        <md-chip>Action 1</md-chip>
        <md-chip>Action 2</md-chip>
        <md-chip>Action 3</md-chip>
        <md-chip>Action 4</md-chip>
        <md-chip>Action 5</md-chip>
        <md-chip>Action 6</md-chip>
        <md-chip>Action 7</md-chip>
        <!--<md-chip *ngIf="selectedActions">{{ selectedActions }}</md-chip>-->
      </md-chip-list>

      <button fxLayoutAlign="left" md-raised-button (click)="openDialog()">Modify Actions</button>
    </md-card>

  </div>
  <button md-mini-fab fxFlexAlign='end'><md-icon >add</md-icon></button>
</div>

<router-outlet></router-outlet>