.align{
    margin-top:2%;
}

.material-icon{
    font-size: 30px;
    
}

/*.img{
  height:200px;
  width:150px;
}*/


.upper{
    text-transform: uppercase;
}

/*h2 {
    padding: 20px;
    color: white;
    background: #3E4FB2;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
  font-family: 'Roboto', sans-serif;
}*/