<div fxFlex="100%" fxLayoutAlign="center" fxLayout="row" class="align">
    <div fxFlex="30%" fxLayoutAlign="center">
    <md-input-container>
        <input mdInput type="search" placeholder="search" [(ngModel)]="value" (keyup.enter)=selectedValue(value)>
        <md-icon mdSuffix>search</md-icon>
    </md-input-container>
    </div>
    <div fxFlex="10%" fxLayoutAlign="end" class="">
        <!--<i class="material-icons">filter_list</i>-->
    <md-select placeholder="purpose" [(ngModel)]="purpose">
        <md-option *ngFor="let val of this.tools" [value]="val.purpose" (click)="selectpurpose(purpose)">{{ val.purpose }}</md-option>
    </md-select>
    
    </div>
    <div fxFlex="30%" fxLayoutAlign="end">
        <button md-raised-button color="primary" class="bottom-button" routerLink="/app/addtool">Add New Tool</button>
    </div>
</div>
<div fxFlex="100%" fxLayout="row" fxLayoutWrap>
    <div fxFlex="25%" *ngFor="let val of newTool">
        <md-card routerLink="/app/toolpage/:domain">
            <md-card-title>{{val.toolname}}</md-card-title>
            <md-card-content>
                <img md-card-image src={{val.toolavatar}}>
                <p md-line>{{val.toolid}}</p>
                <p md-line>{{val.tooldesc}}</p>
                <p md-line>{{val.purpose}}</p>
            </md-card-content>
        </md-card>
    </div>
</div>