/*.templateArea  {
    float: left;
    overflow: hidden;
}

.content {
    height: 300px;
    overflow-y: auto;
}

.listTemplateItem {
    border: 1px solid #ddd; 
    border-radius: 4px; 
    height: 100%;
    width: 100%;   
    display: inline-block;
}

/* Add a hover effect (gray shadow) */
/*.cardContent :hover {
    background-color: gray;
    color: white;
}*/

.tamplatePadding {
    padding-top: 20px;
}