<md-card class="templateArea">
  <md-card-title class="cardTitle"><h4>Template</h4></md-card-title>

    <md-card-content class="content" fxFlex="20">
     <md-list *ngFor="let core of template" (click)="selectcore(core.purpose)" class="listTemplateItem">
       <span><md-list-item>Name: {{core.name}}</md-list-item></span>
       <span><md-list-item>Description: {{core.description}}</md-list-item></span>
      <span><md-list-item >Tools: </md-list-item>
      <md-list-item *ngFor="let tool of core.tools">
        <ul><li>{{tool.toolId}}</li></ul>
          </md-list-item></span>  
      <span> <md-list-item *ngFor="let role of core.roleActions">Role: {{role.role}}</md-list-item></span>      
      </md-list>
    </md-card-content>
</md-card>

