<div fxFlex="100" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutWrap>
  <div fxFlex="10" fxLayout="column"></div>
  <form class="container" fxFlex="80" fxLayout="column" 
    fxFlexFill [formGroup]="userForm">
    <h3 class="md-headline">Create new community</h3>
    <!--domain name text field-->
    <div fxLayout.md="column">
      <md-input-container>
        <input mdInput placeholder="Domain name" formControlName="domainName">
        <md-hint align="start" class="full-width">
          <div *ngIf="userForm.get('domainName').hasError('required') && userForm.get('domainName').touched" class="errorStyle">
            Domain Name is required
          </div>
          <div *ngIf="userForm.get('domainName').hasError('pattern') && userForm.get('domainName')" class="errorStyle">
            Invalid DomainName,must contain 8 to 20 char with one special character(.)
          </div>
        </md-hint>
      </md-input-container>
    </div>
    <!--community text field-->
    <div fxLayout.md="column">
      <md-input-container>
        <input mdInput placeholder="Community name" formControlName="communityName">
        <md-hint align="start" class="full-width">
          <div *ngIf="userForm.get('communityName').hasError('required') && userForm.get('communityName').touched">
            Community Name is required
          </div>
        </md-hint>
      </md-input-container>
    </div>
    <!--choose visibitity mode-->
    <div fxLayout.md="column">
      <md-input-container>
        <input mdInput placeholder="Visibility" disabled>
        <md-radio-group name="visibility" formControlName="visibility">
          <md-radio-button value="Public" >Public</md-radio-button>
          <md-radio-button value="Private" >Private</md-radio-button>
          <md-radio-button value="Moderate" >Moderate</md-radio-button>
        </md-radio-group>
      </md-input-container>
    </div>
    <!--get description from user using text-area -->
    <md-input-container >
      <textarea mdInput placeholder="Description" rows="2" formControlName="description"></textarea>
    </md-input-container>
    <!--select core-activity-->
    <div fxLayout.md="column">
      <md-select placeholder="Purpose" formControlName="Purpose">
        <md-option *ngFor="let core of this.newcommunity.communityDetails" [value]="core.purpose" (click)="getPurpose(core.purpose)" >
        {{core.purpose}}
        </md-option>                    
      </md-select>
      <md-hint align="start" >
        <div *ngIf="userForm.get('Purpose').hasError('required') && userForm.get('Purpose').touched" class="errorStyle">
          select any one purpose
        </div>
      </md-hint>
    </div>
    <!--select template -->
    <!--<div fxLayout.md="column">-->
    <calvin-template-browser (notify)="onselect($event)"  [template]="this.newcommunity.communityDetails" (onselect)="onselect($event)">
    </calvin-template-browser>
    <!--</div>-->
    <!--select tag container-->
    <div fxLayout.md="column">
      <md-input-container>
        <input mdInput placeholder="Tag"  [(ngModel)]="tagname" (keyup.enter)="chipValue(tagname)"  formControlName="tagSelection"  >
      </md-input-container>
    </div>
    <md-chip-list>
      <div fxLayout.md="column" ng-disabled="!tag.value" *ngFor="let tag of tagarray" >
      <md-chip>{{tag}}<i class="material-icons">clear</i></md-chip>
      </div>
    </md-chip-list>      
<!--terms and condition-->
    <div fxLayout.md="column">
      <md-checkbox color="primary" formControlName="termscondition">I agree!Terms and Condition.</md-checkbox>
    </div>
<!--submit the form using raised button-->
    <span fxLayout.md="row" fxLayoutAlign="end end" fxLayoutGap="10px" fxLayoutGap.md="0" >
      <button fxLayout.md="column"  fxFlex="10" md-raised-button routerLink="/app/Home" >cancel</button>
      <button fxLayout.md="column" fxFlex="10" md-raised-button ng-value="submit" type="submit" color="primary" [disabled]="!userForm.valid"
          (onclick)="onsubmit(userForm)">submit</button>
    </span>
</form>
<div fxLayout="column" fxFlex="10"></div>

<router-outlet></router-outlet>