

.community-layout-style{

   height: 300px;
    width: 100%;   
   background-image:url('/assets/images/try1.jpg')   

}

@media(max-width:800px){
    .community-layout-style
    {
           height: 300px;

        width:100%;
           background-image:url('/assets/images/try1.jpg') no-repeat;
           background-size: 1000px;
            
            
    }
}
@media(max-width:1500px) and (min-width:800px)
{
    .community-layout-style
    {
           height: 300px;

        width:100%;
           background-image:url('/assets/images/try1.jpg') no-repeat;
              background-size: 1500px;
          
            
    }
}
/*@media(max-width:3800px) and (min-width:1500px)
{
    .community-layout-style
    {
           height: 300px;

        width:100%;
           background-image:url('/assets/images/try1.jpg') no-repeat;
              background-size: 3700px 900px;
          
            
    }
}*/

.community-layout-style li{
    
    list-style: none;
    margin-top: 1em ;

    
}

.context{

    font-size: 30px;
}

.example-form,.community-layout-administration{
text-align: center;
background-color:#E3F2FD;
}

@media(max-width:760px){
    #communityInfo 
    {
        font-size: 6px;
    }
}
@media(max-width:460px){
    #communityInfo
    {
        font-size: 2px;
    }
}


@media(max-width:370px)and (min-width:310px){
    .context
    {
        font-size: 15px;
    }
}

@media(max-width:300px)and (min-width:100px){
   .context
    {
        font-size: 4px;
    }
}



.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-half-width {
  width: 100%;
}

/*.item .item-2 {
margin-top: 200px;
}*/
/*
.flex-style
{
    padding-left: 10px;
    padding-bottom: 2px;
    padding-right: 30px;
    padding-top:290px;
    overflow: hidden;
}*/