.community-layout-style {
    height: 100%;
    width: 100%;
}

.form-style {
    height: 100%;
    width: 100%;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 24px;
    padding-top: 30px;
    border-radius: 2px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: rgba(0,0,0,.87);
}

md-card-title {
  
    text-align: center;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color:  rgba(0, 0, 0, 0.8);
} 

.text-field-style {
    padding: 20px ;
    font-size: 14px;
    text-align: justify;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color:  rgba(0, 0, 0, 0.8);   
}

.radio-field-style {
    padding-top: 8px;
    display: inline;
    text-align: justify;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color:  rgba(0, 0, 0, 0.6);
}

.text-style {
    padding-top: 11px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 15px;
    text-align: justify;
    color:  rgba(0, 0, 0, 0.7);
}

.text-area-style {
    font-size: 14px;
    width: 100%;
    text-align: justify;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color:  rgba(0, 0, 0, 0.8);
}

.template-area-style {
    padding-top: 11px;
    width: 100%;
    font-size: 14px;
    text-align: justify;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color:  rgba(0, 0, 0, 0.8);
}

.terms-condition-style {
    padding-top: 3px;
    font-size: 14px;
    text-align: justify;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color:  rgba(0, 0, 0, 0.8);
}

.md-chip-style {
    padding-top: 10px;
    display: inline;
}

#select-label-style {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
}

.item {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}

.raised-button-style {
    float:right;
    overflow: hidden;
}

#card-template-style {
    font-size: 12px;
    text-align: justify;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color:  rgba(0, 0, 0, 0.5);
}


/*media query for community layout and radio field*/

@media (max-width:310px) {
    .community-layout-style {
        width: 100%;
    }
}

@media  (max-width:330px) {
    .radio-field-style {
        display: block;
        font-family: Roboto,"Helvetica Neue",sans-serif;
        color:  rgba(0, 0, 0, 0.6);
    }
}

