<div fxLayout fxLayoutAlign="center center" class="community-layout-style" >
   <div class="container paper-style" fxLayoutAlign="center center">
      <form class="form-style">
        <md-card-title>Create New Community</md-card-title>

          <!--domain name text field-->
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div class="text-field-style" fxFlex="50%">
               <md-input-container>
                  <input mdInput placeholder="Enter Domain Name"  #domainName (keyup)="onKey(domainName.value)" >
                </md-input-container>

            </div>

            <!--community text field-->

            <div class="text-field-style" fxFlex="50%">
              <md-input-container>
                  <input mdInput placeholder="Enter community Name" #communityName (keyup)="onKey(communityName.value)">
                </md-input-container>
            </div>
            </div>
            

            <!--select core-activity-->
            <div fxLayout fxLayout.md="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.md="0">
                <div class="select-field-style" fxFlex="100%">
                  <!--<label class="text-style">Select</label>-->
                  <md-select placeholder="Core Activity" class="selected-value-style" >
                    <md-option *ngFor="let core of coreactivity" [value]="core.value">
                      {{ core.viewValue }}
                    </md-option>
                  </md-select>
                </div>  
             </div>
            <!--choose visibitity mode-->

            <div class="radio-field-style">
              <table>
                <thead>
                  <td><label class="text-style">Select visibility mode:</label></td>
                </thead>
                <tbody class="tbody-text-style">
                  <tr>
                    <td><md-radio-button value="public">Public</md-radio-button></td>
                  </tr>
                  <tr>
                    <td><md-radio-button value="privte">Private</md-radio-button></td>
                 </tr>
                 <tr>
                    <td><md-radio-button value="moderate">Moderate</md-radio-button></td>
                 </tr>
                </tbody>
              </table>
            </div>

            <!--description using text-area -->

            <div class="text-area-style">
               <label class="text-style">Description:</label>
               <div><textarea rows="2" class="text-area-bg"></textarea></div>
            </div> 

            <!--select flag container-->
            <div class="check-box-style">
               <table>
                <thead>
                  <td><label class="text-style">Select flags:</label></td>
                </thead>
                <tbody class="tbody-text-style">
                  <tr>
                    <td><md-checkbox >Flag_One</md-checkbox></td>
                  </tr>
                  <tr>
                    <td><md-checkbox>Flag_Two</md-checkbox></td>
                 </tr>
                 <tr>
                    <td><md-checkbox>Flag_Three</md-checkbox></td>
                 </tr>
                </tbody>
              </table>
           </div>

           <!--check button to know more option -->
           <div class="md-button-field" >
                <button md-fab color="accent" class="md-fab-button">
                  <md-icon class="md-icon-style">edit</md-icon>
                </button>
           </div>
           <!--select template -->
           <div class="template-area-style">
              <md-grid-list cols="3" rowHeight="3:1">
                <md-grid-tile>
                  <md-card>
                    thumbnail
                  </md-card>
                  </md-grid-tile>
                <md-grid-tile><md-card>thumbnail</md-card></md-grid-tile>
                <md-grid-tile><md-card>thumbnail</md-card></md-grid-tile>
              </md-grid-list>
           </div>
           
        </form>
    </div>
</div>
  


  