<!--<div fxLayout fxLayoutAlign="start">-->
<md-card>
  <md-list fxLayoutAlign="">
    <md-list-item>
      <md-icon>build</md-icon>
      <h4>Tools</h4>
    </md-list-item>
  </md-list>
  <md-card-content fxLayoutAlign.xs="column" class="content">
    <md-list>
      <md-list-item *ngFor="let val of tools.tools" fxLayoutAlign.xs="row">
        <img md-list-avatar class="img-responsive center-block"  src={{val.avatar}}>
        <!--<md-list-item>{{val.toolId}}</md-list-item>-->
        <!--<md-icon>build</md-icon>-->
        <p>{{val.toolid}}</p>
         <p md-line>
           <span>{{val.toolname}}</span>
          <!--<span>{{val.createdon}}</span>-->
        </p>
        <p md-line>
         <span>  {{val.purpose}}</span>
          <!--<span>{{val.createdon}}</span>-->
        </p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<!--</div>-->