<!--<div fxLayout fxLayoutAlign="start">-->
<md-card>
  <md-card-title>
    Tools
  </md-card-title>
  <md-card-content fxLayoutAlign.xs="column" class="content">
    <md-list>
      <md-list-item *ngFor="let val of this.tools.tools" fxLayoutAlign.xs="column">
        <img md-list-avatar class="img-responsive center-block" src={{val.photo}}>
        <!--<md-list-item>{{val.toolId}}</md-list-item>-->
        <h3 md-line>{{val.toolid}}</h3>
        <p md-line>
          <!--<span>{{val.createdon}}</span>-->
        </p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<!--</div>-->