<!--<div fxFlex="100%" fxFlex.xs="auto" fxLayout fxLayoutWrap>
  <calvin-user-widgets fxFlex="30%" ></calvin-user-widgets>
  <calvin-activity-page></calvin-activity-page>
</div>-->
 

 <!--collect activity cards for display activity page-->
<div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="30%">
    <!--<calvin-user-widgets></calvin-user-widgets>-->
    </div>
      <calvin-activity-page></calvin-activity-page>
    </div>