<div class="launching" fxLayoutAlign="center center" > 
  <div  fxFlex="40%"  fxLayoutAlign="center center" fxLayout="column">
    <img fxFlex="100%" src="/assets/img/logo/logo.png"/>
    <h3 fxFlex="100%">CALVIN</h3>
    <h1>Welcome to Calvin Practitioners</h1>
    <p>We included all you may need to build the best social network! Things like profile pages, newsfeed, friend groups, statistics, birthdays, community badges, events calendar, full music player and unique iconography! Have fun customizing it!</p>
    <div fxFlex="100%">
      <button class="loginBtn loginBtn--google" (click)="login()">
        Login with Google
      </button>
    </div>
  </div> 
</div>
<router-outlet></router-outlet>