  <md-card>
    <md-card-title>
     Members
    </md-card-title>
    <md-card-content class="content">
      <md-list fxLayout="start">
        <md-list-item *ngFor="let val of this.members.MemberDetails" >
          <img md-list-avatar class="img-responsive center-block" src='https://pbs.twimg.com/profile_images/735509975649378305/B81JwLT7.jpg'>
          <h3 md-line>{{val.username}}</h3>
          <p md-line>
            {{val.role}}
          </p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>

