<<<<<<< HEAD
/*i{
 color:red;
 margin:30px 0px 0px -30px;
}*/
=======
>>>>>>> ff95ee252485682f0b2eb7132660297fdbee7d31
.content{
    height:300px;
    overflow-y:auto;
}
.content::-webkit-scrollbar {
   display: none;
}