<div *ngIf="roleActionColln">
  <div *ngFor="let sample of roleActionColln.roleactions">
    <md-card class="card-align">
      <div fxLayoutAlign='start stretch'>
        <md-card-title fxFlex='90'>
          <input mdInput [(ngModel)]='sample.role' disabled/>
        </md-card-title>
      </div>
      <md-chip-list>
        <div fxFlexLayout.xs='row' *ngFor="let action of sample.action" class="chip-style">
          <md-chip>{{action}}</md-chip>
        </div>
      </md-chip-list>
      <button fxLayoutAlign='left' md-raised-button (click)='openModifyRoleActionsDialog(sample.role, roleActionColln)'>Modify Actions</button>
    </md-card>
  </div>
</div>